# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch weights and massive files
saved_models/
*.pth
*.bin
*.pth.tar

# Virtual environments
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
*.swo
